/* all items in the center of the page, in table format */
.main {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

/* table with collapsed edges */
.table {
  border: 1px solid black;
  border-collapse:collapse;
  width: 100%;
}


